name: mern-app

services:
  mongo:
    image: mongo:8.0.15
    ports:
      - 27017:27017
    volumes:
      - mongo_data:/data/db
    networks:
      - mern-app

  api:
    image: ${DOCKERHUB_USERNAME}/backend:latest
    restart: unless-stopped
    env_file: ./backend/.env
    command: sh -c "node config/import-data.js --delete && node config/import-data.js --import && node server.js"
    ports:
      - 4000:4000
    networks:
      - mern-app
    depends_on:
      - mongo

  frontend:
    image: ${DOCKERHUB_USERNAME}/frontend:latest
    restart: unless-stopped
    ports:
      - 5173:5173
    networks:
      - mern-app
    depends_on:
      - api

  admin:
    image: ${DOCKERHUB_USERNAME}/admin:latest
    restart: unless-stopped
    ports:
      - 5174:5174
    networks:
      - mern-app
    depends_on:
      - api

volumes:
  mongo_data:
networks:
  mern-app:
    driver: bridge