
.list-table-format{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;
}

.list-table-format.title{
    background-color: #f9f9f9;
}

.list-table-format img{
    width: 50px;
}

.delete-btn {
    color: #ff4d4d;
    font-size: 16px;
    transition: transform 0.2s;
}

.delete-btn:hover {
    transform: scale(1.2);
    cursor: pointer;
}

@media (max-width:600px){
    .list-table-format{
        grid-template-columns: 1fr 3fr 1fr;
        gap: 15px;
    }

    .list-table-format.title{
        display: none;
    }
}