name: Docker Image CI

# ĐOẠN NÀY QUAN TRỌNG:
# Nó bảo: "Tao sẽ chỉ chạy khi cái workflow tên là 'Node.js CI (Check Code)' hoàn thành"
on:
  workflow_run:
    workflows: ["Node.js CI"]
    types:
      - completed

jobs:
  build-and-push-images:
    # Chỉ chạy nếu cái Node.js kia thành công (chứ thất bại thì build làm gì)
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      - name: Build the Docker image
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # --- BUILD BACKEND ---
      - name: Build Backend
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/backend:latest

      # --- BUILD FRONTEND ---
      - name: Build Frontend
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/frontend:latest

      # --- BUILD ADMIN ---
      - name: Build Admin
        uses: docker/build-push-action@v5
        with:
          context: ./admin
          file: ./admin/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/admin:latest